.ItemContainer {
  background-color: rgba(1, 128, 247, 0.2);
  border-radius: 3rem;
  padding: 1rem 0rem 1rem 0rem;
}

.ItemContainer > div {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(4, auto);
  column-gap: 1rem;
  row-gap: 1rem;
}

@media (max-width: 1100px) {
  .ItemContainer > div{
    grid-template-columns: repeat(3, auto);
  }
}
@media (max-width: 830px) {
  .ItemContainer > div{
    grid-template-columns: repeat(2, auto);
    column-gap: 0.5rem;
    row-gap: 0.5rem;
  }
}
@media (max-width: 640px) {
  .ItemContainer > div{
    grid-template-columns: repeat(2, auto);
    column-gap: 0.5rem;
    row-gap: 0.5rem;
  }
}
